[submodule "LibAFL"]
	path = LibAFL
	url = https://github.com/AFLplusplus/LibAFL
[submodule "src/redis"]
	path = src/redis
	url = https://github.com/redis/redis
[submodule "src/RedisBloom"]
	path = src/RedisBloom
	url = https://github.com/RedisBloom/RedisBloom
[submodule "src/redisjson"]
	path = src/redisjson
	url = https://github.com/redisjson/redisjson
[submodule "src/redisearch"]
	path = src/redisearch
	url = https://github.com/redisearch/redisearch
[submodule "src/redistimeseries"]
	path = src/redistimeseries
	url = https://github.com/redistimeseries/redistimeseries
